# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# text editor swp file
*.swp

# Build directory
build/*

# doc directory since it's constantly changing
doc/*

# qt cmake user file
CMakeLists.txt.user

# mac DS_Store files
*.DS_Store
